@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}

body {
    background-color: #0D0D0D;
}

div#perfilcompleto {
    margin: 0 auto;
    margin-top: 80px;
    background-color: #262626;
    width: 350px;
    height: 470px;
    border-radius: 1.2rem;
    text-align: center;
    align-items: center;
}

div > a {
    text-decoration: none;
}



img {
    width: 70px;
    border-radius: 50%;
    padding: 25px;
}


p{
    color: white;
}


p#nome {
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
    font-size: 24px;
}



p#city {
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #768C27;
    padding: 10px;   
}

p#carreira {
    font-family: "Inter Tight", sans-serif;
    font-size: 15px;
    padding: 15px;
}

div#git {
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(93, 92, 92);
    border-radius: 1rem;
    margin-bottom: 50px;
    padding: 10px;
    height: 20px;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 5px;
}

div#front {
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(93, 92, 92);
    border-radius: 1rem;
    margin-bottom: 50px;
    padding: 10px;
    height: 20px;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 5px;
}

#linkdedin {
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(93, 92, 92);
    border-radius: 1rem;
    margin-bottom: 50px;
    padding: 10px;
    height: 20px;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 5px;
}

#x {
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(93, 92, 92);
    border-radius: 1rem;
    margin-bottom: 50px;
    padding: 10px;
    height: 20px;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 5px;
}

#instagram {
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(93, 92, 92);
    border-radius: 1rem;
    margin-bottom: 50px;
    padding: 10px;
    height: 20px;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 5px;
}

#git:hover {
    background-color: #f9f9f9;
    color: #0D0D0D;
    transition: .3s;
}

#front:hover {
    background-color: #f9f9f9;
    color: #0D0D0D;
    transition: .3s;
}

a > p:hover {
    color: #0D0D0D;
}

#linkdedin:hover {
    background-color: #f9f9f9;
    color: #0D0D0D;
    transition: .3s;
}

#x:hover {
    background-color: #f9f9f9;
    color: #0D0D0D;
    transition: .3s;
}

#instagram:hover {
    background-color: #f9f9f9;
    color: #0D0D0D;
    transition: .3s;
}

footer {
    text-align: center;
    margin-top: 50px;
}
.attribution { 
    font-size: 11px; 
    color: white;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}